
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Dashboard</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </div>

</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!--
 -->
<!-- ============================================================== -->


<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-block">
                <p>
                    Este aplicativo foi desenvolvido no curso de ASP.NET, para demostrar um CRUD (Create, Read, Update e Delete) registrando nome, e-mail,
                    telefone e data de cadastro de clientes. Ultilizando:
                </p>
                <ul>
                    <li>ASP.NET MVC Full Framework (Model View Controller)</li>
                    <li>View Engine ASP.NET Razor</li>
                    <li>Linguagem de Programação C#</li>
                    <li>ADO.NET Entity Framework</li>
                    <li>Mapeamento objeto relacional</li>
                    <li>Banco de Dados SQL Server 2016 Express LocalDB</li>
                    <li>Bootstrap 4 Template  <a href="https://wrappixel.com/templates/adminpro-lite/">MaterialPro Admin Lite</a></li>
                    <li>Página de erro</li>
                    <li>
                        Divido em 3 camadas:
                        <ul>
                            <li>Camada de Modelagem de Entidades - Projeto.Entides</li>
                            <li>Camada de Apresentação - Projeto.Web</li>
                            <li>Camada de Acesso a Dados - Projeto.DAL</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
